
body{
    background-color: white;
    width: 100%;
    
    font-family: roboto;
}


.content{
    width: 100%;
    /* margin: 10px; */
    margin-top: 10%;
    padding: 0 3%;
    color: white;
    box-sizing: border-box;
}
.data-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.data-info .box{
    background-color: rgb(10, 38, 63);
    height: 150px;
    flex-basis: 150px;
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: .5s;
}
.data-info .box:hover{
    background-color: rgb(69, 11, 228);
}
.data-info .box i{
    font-size: 40px;
}
.data-info .box .data{
    text-align: center;
}
.data-info .box .data span{
    font-size: 30px;
}