* {

    margin: 0;
}

body {
    width: 100%;
}

#contact {
    color: rgb(24, 121, 92);
    font-weight: 700;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(350px, 50%, 400px);
    border: 1px solid #414141;
    padding: 32px 24px;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #f8f8f870;
}

.form-container .form {

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
}

.form-container .form-group input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #414141;
}

.form-group textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
}

.form-group input::placeholder {
    opacity: 0.5;
}

.form-submit-btn {
    font-family: inherit;
    color: #fff9f9;
    font-weight: 600;
    width: 40%;
    background-color: rgb(50, 230, 119);
    border: none;
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.2s;
}

.form-container .form-submit-btn:hover {
    background-color: #7289ee;
}