*{
    margin: 0;
}

section{
    width: 80%;
    height: 100%;   
    display: flex;
    margin: 0 10%;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
}
.dashboard{
    width: 100%;
    /* background-color: #4099ff; */
    height: 40%;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#here-dash{
    display: flex;
    /* width: fit-content; */
    justify-content: center;
    align-items: center;
    background-color: aqua;
    gap: 5%;
    margin: 2% 0;
}
#here-dash i{
    padding: 3px;
    background-color: #4099ff;
    color: aliceblue;
    border-radius: 2px;
    
    
}
.statistics{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    /* background-color: red; */
    gap: 10%;
}
.profit,.nbr-sales{
    display: flex;
    justify-content: space-around;
    width: 18%;
    height: 80%;
    font-size: 1.5em;
    border-radius: 10px;
    /* justify-content: center; */
    /* padding: 2%; */
    align-items: flex-start;
    box-sizing: border-box;
}
.profit{
    background-color: #ff5370;
}
.profit i{
    color: #ff5370;
    background-color: white;
    padding: 5px;
    border-radius: 100%;
    width: auto;
    height: fit-content;
    margin-top: 3%;
    transition: .1s ease-in-out;
    align-self: flex-start;
}
.nbr-sales{
    background-color: #4099ff;
}
.nbr-sales i{
    color: #4099ff;
    padding: 5px;
    height: fit-content;
    border-radius: 100%;
    background-color: white;
    transition: .2s ease-in-out;
    margin-top: 3%;
    
}
.total p{
    font-family: poppins;
    font-size: .7em;
    color: white;
}
#total-profit{
    font-family: poppins;
    color: white;
    font-weight: 400;
}

.your-properties{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    
    
}
.review{
    width: 100%;
    box-sizing: border-box;
    /* padding: 0 10%; */
    display: flex;
    background-color: red;
    align-items: center;
    justify-content: space-around;
}
.profil-review{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: gray;
}
.nameNstars{
    display: flex;
    flex-direction: column;
}
.comment{
    flex-grow: 1;
}