* {
    margin: 0;
    padding: 0;
  }
 
nav {
  background-color: rgb(49, 226, 117);
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 10 10vw 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* gap: 100px; */
  height: 70px;
  border-radius: 0 0 200px 200px;
}

nav a {
  /* padding: 2px; */
  border-radius: 5px;
  text-decoration: none;
  color: rgb(250, 250, 250);
  font-size: large;
  font-weight: 500;
}

nav a:hover {
  /* background-color: rgb(141, 240, 179); */
  color: rgb(78, 146, 115);
}

#logo {
  width: 30%;
  height: auto;
  color: rgb(250, 250, 250);
  font-size: 2.6vw;
  font-family: abizhar;

}

#links {
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  /* flex-grow: 1; */
  width: 50%;
  align-items: center;

  justify-content: space-around;
}

.link hr {
  border: 1px solid transparent;
  margin: 0 50%;
  transition: .3s;
}

.link a:hover+hr {
  border: 1px solid white;
  margin: 0;
}

.link+i,
#links+a {
  color: rgb(250, 250, 250);
}

.link+i:hover,
#links+a:hover {
  cursor: pointer;
  color: rgb(78, 146, 115);
}

#nav-menu {
  position: relative;
}

#nav-menu-button {
  border: 1px solid rgb(250, 250, 250);
  position: relative;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 10px 5px 5px;
  width: 70px;
  background: none;
}

#nav-menu-button i {
  color: rgb(250, 250, 250);
}

#nav-menu-button:hover {
  cursor: pointer;
  box-shadow: 0px 2px 7px 3px rgb(121, 245, 169);
}

.profile-items {
  margin-top: 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  width: 180px;
  height: fit-content;
  top: 100%;
  right: 50%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
  border-radius: 4px;
  padding: 8px 0;
}

.profile-items hr {
  margin-right: 75%;
  transition: .2s ease-in-out;
}
.profile-items button{
  background-color: transparent;
  text-align: left;
  padding-left: 20px;
  border:none;
  color: #707070;
  padding: 12px 0px;
  width: 100%;
  cursor: pointer;
  font-size: large;
  font-weight: 500;
}
.profile-items pre{
  font-family: inherit;
}
.profile-items button:hover{
  color: rgb(38, 103, 223);
  background-color: #deffc9;
}
.profile-items hr {
  margin-right:75%;
  transition: .2s ease-in-out;
}

.profile-items button:hover+hr,
.profile-items a:hover+hr,
.profile-items form:hover+hr  {
  margin: 0%;
}
.profile-items a {

  color: #707070;
  padding: 12px 16px;
  display: block;
}

.profile-items a:hover {
  color: rgb(38, 103, 223);
  background-color: #deffc9;
}
.show {
  display: block;
}
