.three{
    display: flex;
    padding: 0 100px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.prix{
    /* position: absolute; */
    top: 35%;
    left: 21%;
    height: 200px;
    width: 25%;
  }
  .Pricing{
    margin-bottom: 10%;
    color: green;
    font-weight: bold;
    font-size: 25px;
  }
  .prix1{
    display: flex;
  }
  .prix1 h3{
    color: #28456b;
    margin-left: -50px;
    font-size: 25px;
  }
  #input1{
    border-top: none;
    border-right: none;
    border-left: none;
    width: 300px;
    margin-left: 30px;
    font-size: 1.2em;
    
  }
  #input1::-webkit-outer-spin-button,
#input1::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  #input1:focus {
    outline: none;
  }
  .revenue-share-section {
    /* position: absolute; */
    background-color: rgb(234, 255, 242);
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    width: 450px;
    height: fit-content;
    font-size: 1.3em;
    /* visibility: hidden; */
  }

  .revenue-share-section h2 {
    color: #28456b;
  }
  .revenue-share-section ul li {
    margin-left: 30px;
  }
  strong{
    color: #28456b;
  }
  .revenue-share-section p {
    margin-bottom: 10px;
  }

  .revenue-share-section li {
    margin-bottom: 5px;
}