.name{
    display: flex;
    width: fit-content;
    flex-direction: column;
    gap: 20px;
}
.name h3 {
    color:#0abfb4;
    font-size: clamp(5px,4vw,20px);
}
.property{
    /* position: absolute; */
    margin: 30px 0;
    width: 30%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .property h3{
    color: #0abfb4;
    font-size: clamp(5px,4vw,20px);
    align-self: flex-start;
    margin-bottom: 20px;    
  }
  label[for="check1"],label[for="check2"]{
    font-weight: bold;
  }
  input[type="radio"]{
    width: 20px;
    height: 20px;
    border: 2px solid #0fa328;
    border-radius: 50%;
    cursor: pointer;
  }
  .choices{
    align-self: flex-start;
    margin: 0px 80px;
    /* width: fit-content; */
    /* background-color: #0fa328; */
  }
  .Apartment{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;
    
  }
  .Room{
    
    gap: 10px;
    display: flex;
    align-items: center;
  }
  .count{
    width: 30%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .count h3{
    align-self: flex-start;
    color: #0abfb4;
    margin-bottom: 20px;    
  }
  
  #myRange {
    width: 300px;
    background-color: #f0f0f0;
    border: 3px solid green;
    border-radius: 10px;
  }
  .range p{
    text-align: center;
  }
