.room-infos {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.pro {
    position: relative;
    width: 850px;
    height: 490px;
    display: flex;
    border-radius: 5% ;
    background-color: white;

}

.pro1 {
    position: relative;
    height: 100%;
    width: 50%;
    border-radius: 5% 0 0 5%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    
}

.pro1 img {
    width: 100%;
    height: 100%;
    transition: opacity 1s ease-in-out;
}

.pro2 {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0%;
    transition: left 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    gap: 3%;
}

.pro2  {
    margin-bottom: 10%;
    padding: 5%;
    box-sizing: border-box;
    font-size: 110%;
}
.inline-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.inline-info + hr{
    width: 65%;
}
.pro21 {
    /* background-color: rgb(255, 102, 0); */
    width: 100%;
    height: 30%;
    margin-left:15%;
    border-radius: 10px;
    display: grid;
    
    
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;

}

.pro2 i {
    margin-right: 3%;
    display: inline;
}

.bot {
    width: 20%;
    padding: 1em 0;
    height: 7%;
    text-decoration: none;
    color: #141e46;
    text-align: center;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    background-color: hsl(0, 0%, 85%);
    transition: .1s ease-in-out;
}


.bot:hover {
    color: aliceblue;
    background-color: rgb(116, 230, 50);
    
}

.pro22 {
    width: 30%;
    height: 7%;
    border: none;
    border-radius: 3px;
    margin-top: 5px;
    transition: .2s ease-in-out;
    
}

.pro22:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(19, 180, 100);
    
}

.pro3 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    
    transition: left 1s ease;
    box-sizing: border-box;
}
.reserve-form{
    
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
}
table tr:first-child td:first-child {
    border-top-left-radius: 10px; 
    border-bottom: none;
    border-right: none;
}
table tr:first-child td:last-child{
    border-top-right-radius: 10px;
    border-bottom: none;
}
table tr:last-child td:last-child{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.table1 td {
    padding: 8px;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}

table {
    width: 80%;
    height: 150px;
}


#checkin-reserve,
#checkout-reserve {
    border: none;
    width: 100%;
    text-align: center;
}

#checkin-reserve:focus,
#checkout-reserve:focus {
    outline: none;
}

.guests-reserve {
    width: 13%;
}

.botsuiv {
    position: absolute;
    top: 45%;
    left: 92%;
    border-radius: 10px;
    font-size: 20px;
    opacity: 0.5;
    border: none;
}

.botsuiv:hover {
    /* font-size: 25px; */
    opacity: 1;
}

.botprec {
    position: absolute;
    top: 45%;
    left: 5%;
    border-radius: 10px;
    font-size: 20px;
    opacity: 0.5;
    border: none;
}

.botprec:hover {
    /* font-size: 25px; */
    opacity: 1;
}

.btreturn {
    display: flex;
    position: absolute;
    top: 3%;
    left: 5%;
    height: 30px;
    width: 20px;
    border: none;
    background: none;
    font-size: 20px;
}
.btreturn:hover{
    font-size: 25px;
}
.prin {
    position: relative;
    width: 50%;
    overflow: hidden;
}

.btanulle {
    position: absolute;
    bottom: 93%;
    left: 98%;
    z-index: 10;
    font-size: 2.5em;
    border: none;
    background: aliceblue;
    border-radius: 100%;
    color: #db3333;
    cursor: pointer;
}
.btanulle:hover{
    color: #e24359;
}
#difference {
    width: 100%;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;

}

#difference hr{
    width: 80%;
    color: black;
    margin-left: 15%;
}
.price-info{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 2%;
    font-size: 1.2em;
}
.bt1 {
    width: 60%;
    height: 8%;
    font-size: 20px;
    color: #141e46;
    background-color: #f384f3;
    border: none;
    border-radius: 6px;
    transition: .2s ease-in-out;
}
.bt1:hover{
    background-color: rgb(198, 38, 204);
    color: aliceblue;
}