*{
    margin: 0;
}
.darken::before {
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  transition: .2s ease-in-out;
  z-index: 11; 
  background: rgba(0,0,0, .8);  
}
article {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(64, 158, 212); */
  align-items: center;
  justify-content: center;
  margin-top: 1.4em;
  /* padding: 10px 100px 10px 100px; */
  transition:all .3s ease-in-out;
}

article h1 {
  margin-bottom: 1.2em;
  color: rgb(73, 36, 36);
  font-family: BlackChancery;
}

#search {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgb(214, 255, 238);
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin: auto;
  border-radius: 30px;
  height: 65px;
  font-size: clamp(1em,1.3vw,1.4em);
  transition:all .3s ease-in-out;
}
  
.el1 {
  position: relative;
}
.el1 input,
.el1 select {
  
  width: clamp(100px,20vw,200px);
  outline: none;
  border: none;
  height: 2.4em;
  background-color: transparent;
  border-bottom: 1px solid;
  transition: .2s ease-in-out;
}
.el1 input:hover,
.el1 input:focus,
.el1 select:hover,
.el1 select:focus{
  width: 21vw;
}
#guests{
  width:60px;
  text-align: center;
}
#guests:hover,
#guests:focus{
  width: 100px;
}


#checkin:hover~label,
#checkin:focus~label,
.el1 label[for=checkin]:hover {
  top: -6px;
  left: 1.9em;
}
#checkout:hover~label,
#checkout:focus~label,
.el1 label[for=checkout]:hover {
  top: -6px;
  left: 1.9em;
}

.el1 label {
  color: #999;
  position: absolute;
  transition: 0.2s ease-in-out;
  top: 0;
  left: 30%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
select+label{
  color: #999;
  position: absolute;
  transition: 0.2s ease-in-out;
  top: 0;
  left: 30%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
.el1 button {
  background: none;
  width: 2em;
  height: 2em;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 1.4em;
}

.el1 button:hover {
  background-color: rgb(175, 255, 222);
  cursor: pointer;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
article{
    transition: .3s ease-in-out;
}


.rooms{
    box-sizing: border-box;
    margin-bottom: 10%;
    width: auto;
    padding: 1em;
    padding-left: 50px;
    display: grid;
    gap: 1em;
    width: 100%;
    transition: .3s ease-in-out;
    justify-items: center;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));

}
.room-container{
    width: 250px;
    height: 300px;
    /* border: 1px solid rgb(200, 228, 233); */
    border-radius: 7px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-sizing: border-box;
}
.room-container:hover{
  box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.25);
  width: 255px;
  
}
.room-img{
    height: 80%;
    
}
.room-img img{
    width: 100%;
    height: 100%;
    /* margin: 0; */
    object-fit: cover;
    /* object-position: center; */
    /* scale: .4; */
}
.room-discription{
    transition: .2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
    justify-content: space-around;
    background-color: rgb(248, 248, 248);
    cursor: pointer;
}
#room-title{
    font-weight: 600;
    font-size: 1em;
    font-family: roboto;
    color: rgb(20, 109, 109);
    /* font-family: 'Courier New', Courier, monospace; */
}
.container{
  display: none;
}
footer {
  background-color: #151e4e;
  color: #fff;
  height: fit-content;
  width: 100%;
  /* margin-top: 160px; */
  bottom: 0%;
  padding-top: 20px;
  text-align: center;

}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .footer-column {
  margin: 20px 0;
}

footer .footer-column h4 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #f0a500;
}

footer .footer-column p,
footer .footer-column ul,
footer .footer-column a {
  font-size: 14px;
  color: #ccc;
  text-decoration: none;
}

footer .footer-column ul {
  list-style: none;
  padding: 0;
}

footer .footer-column ul li {
  margin-bottom: 8px;
}

footer .social-links a {
  display: inline-block;
  margin: 0 10px;
  color: #f0a500;
}

footer .social-links a:hover {
  color: #fff;
}

@media (min-width: 768px) {
  footer .container {
      flex-direction: row;
      justify-content: space-around;
  }

  footer .footer-column {
      margin: 0;
  }
}
.contact{
  width: 400px;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5%;
}
.icon{
  font-size: 200%;
}
.item{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 3px solid black;
  overflow: hidden;
}
.item .icon {
  transition: transform 0.5s ease;
}
.item:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}
.item:hover{
  border: 3px solid var(--bg-color);
}
.item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  background: var(--bg-color);
  transition: height 0.5s ease;
}
.item:hover::before {
  height: 100%;
}
.item:nth-child(1){
  --bg-color: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
}
.item:nth-child(2){
  --bg-color: #0077b5;
}
.item:nth-child(3){
  --bg-color: #ff0000;
}
.item:nth-child(4){
  --bg-color: #000;
}