.side_menu{
    
    padding-left: 10px;
    width: 50px;
    height: 60%;
    overflow: hidden;
    transition:all .3s ease-in-out;
    background-color: rgb(255, 255, 255);
    border-right: 2px solid rgba(49, 226, 117,.6);
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    position:fixed;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);


}
.side_menu:hover~ #sec1{
    padding-left: 20%;
}
.side_menu:hover{
    width: clamp(170px,20%,230px );
}
.side_menu:hover ~ .rooms{
    padding-left: 20%;
}
.side_menu:hover ~ article{
    padding-left: 20%;
}
.side_menu ul{
    list-style: none;
    height: 100vh;
}
.side_menu li{
    padding-left: 5px;
    margin: 1.4em 0;
    height: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(100, 148, 237,.3);
}
.side_menu a:hover{
    color: rgb(118, 108, 252);
}
.side_menu a{
    display: flex;
    text-decoration: none;
    flex-wrap: nowrap;
    gap: 30px;
    align-items: center;
    font-size: 1.4em;
    color: rgb(28, 28, 104);

}