* {
  margin: 0;
  padding: 0;
}
.darken::before {
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  transition: .2s ease-in-out;
  z-index: 11; 
  background: rgba(0,0,0, .8);  
}
nav {

  background-color: rgb(49, 226, 117);
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 10 10vw 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
  height: 70px;
  border-radius: 0 0 200px 200px;
}

nav a {
  /* padding: 2px; */
  border-radius: 5px;
  text-decoration: none;
  color: rgb(250, 250, 250);
  font-size: large;
  font-weight: 500;
}

nav a:hover {
  /* background-color: rgb(141, 240, 179); */
  color: rgb(78, 146, 115);
}

#logo {
  width: 30%;
  height: auto;
  color: rgb(250, 250, 250);
  font-size: 2.6vw;
  font-family: abizhar;



}

#links {
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  /* flex-grow: 1; */
  width: 50%;
  align-items: center;

  justify-content: space-around;
}

.link hr {
  border: 1px solid transparent;
  margin: 0 50%;
  transition: .3s;
}

.link a:hover+hr {
  border: 1px solid white;
  margin: 0;
}

.link+i,
#links+a {
  color: rgb(250, 250, 250);
}
#home{
  color:rgb(24, 121, 92);
  font-weight: 700;
}
.link+i:hover,
#links+a:hover {
  cursor: pointer;
  color: rgb(78, 146, 115);
}

#nav-menu {
  position: relative;
}

#nav-menu-button {
  border: 1px solid rgb(250, 250, 250);
  position: relative;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 10px 5px 5px;
  width: 70px;
  background: none;
}

#nav-menu-button i {
  color: rgb(250, 250, 250);
}

#nav-menu-button:hover {
  cursor: pointer;
  box-shadow: 0px 2px 7px 3px rgb(121, 245, 169);
}

.profile-items {
  margin-top: 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  width: 180px;
  height: fit-content;
  top: 100%;
  right: 50%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
  border-radius: 4px;
  padding: 8px 0;
}
.profile-items button{
  background-color: transparent;
  text-align: left;
  padding-left: 20px;
  border:none;
  color: #707070;
  padding: 12px 0px;
  /* display: block; */
  width: 100%;
  cursor: pointer;
  font-size: large;
  font-weight: 500;
}
.profile-items pre{
  font-family: inherit;
}
.profile-items button:hover{
  color: rgb(38, 103, 223);
  background-color: #deffc9;
}
.profile-items hr {
  margin-right:75%;
  transition: .2s ease-in-out;
}

.profile-items button:hover+hr {
  margin: 0%;
}

.profile-items a {

  color: #707070;
  padding: 12px 16px;
  display: block;
}

.profile-items a:hover {
  color: rgb(38, 103, 223);
  background-color: #deffc9;
}

.show {
  display: block;
}

article {
  display: flex;
  flex-direction: column;
  
  /* background-color: rgb(64, 158, 212); */
  align-items: center;
  justify-content: center;
  margin-top: 1.4em;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 100px 10px 100px;
  transition:all .3s ease-in-out;
}

article h1 {
  width: 100%;
  margin-bottom: 1.2em;
  color: rgb(73, 36, 36);
  font-family: BlackChancery;
  
}

#search {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgb(214, 255, 238);
  align-items: center;
  justify-content: space-between;
  /* gap: 10px; */
  padding: 0 10px;
  /* box-sizing: border-box; */
  border-radius: 30px;
  height: 65px;
  transition:all .3s ease-in-out;
}

.el1 {
  position: relative;
}

.el1 input,
.el1 select {
  
  width: clamp(100px,20vw,200px);
  outline: none;
  border: none;
  height: 2.4em;
  background-color: transparent;
  border-bottom: 1px solid;
  transition: .2s ease-in-out;
}
.el1 input:hover,
.el1 input:focus,
.el1 select:hover,
.el1 select:focus{
  width: 21vw;
}
#guests{
  width:60px;
  text-align: center;
}
#guests:hover,
#guests:focus{
  width: 100px;
}

#checkin:hover~label,
#checkin:focus~label,
.el1 label[for=checkin]:hover {
  top: -6px;
  left: 1.9em;
}

#checkout:hover~label,
#checkout:focus~label,
.el1 label[for=checkout]:hover {
  top: -6px;
  left: 1.9em;
}

.el1 label {
  color: #999;
  position: absolute;
  transition: 0.2s ease-in-out;
  top: 0;
  left: 20%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

#where+label {
  color: #999;
  position: absolute;
  transition: 0.2s ease-in-out;
  top: 0;
  left: 33%;
  border-radius: 10px;
  /* transform: translate(-50%, -50%); */
}

.el1 button {
  background: none;
  width: 2em;
  height: 2em;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 1.4em;
}

.el1 button:hover {
  background-color: rgb(175, 255, 222);
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#sec1{
  transition:all .3s ease-in-out;
}
#sec1 h1 {
  font-size: 2.7em;
  margin: 40px 0;
  color: rgb(34, 55, 145);
  font-family: BlackChancery;
  padding-left: 10%;
}

.container-grid {
  display: grid;
  border: 1px;
  border-radius: 40px;
  margin: auto;
  width: clamp(600px, 80%, 1000px);
  height: 500px;
  box-sizing: border-box;
  grid-template-areas: "img1 img1 img1 img2 img2" "img3 img3 img4 img4 img4";
  row-gap: 3px;
  column-gap: 3px;
}

.container-grid div {
  position: relative;
  overflow: hidden;
}


.container-grid span {
  font-size: 1.6em;
  color: white;
  z-index: 1;
  font-weight: bold;
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
}

.container-grid img {
  position: absolute;
  width: 800px;
  top: -100px;
  left: -40;
  transition: 0.4s;
  scale: 1;
  object-position: center;
}

.container-grid .img1 {
  grid-area: img1;
}

/* .container-grid .img1 img {
  top: -120;
} */

.container-grid .img2 {
  grid-area: img2;
}



.container-grid .img3 {
  width: 100%;
  height: auto;
  object-fit: cover;
  grid-area: img3;
  
}

.container-grid .img4 {
  grid-area: img4;
}

.sect2 {
  display: flex;
  width: clamp(600px, 80%, 1000px);
  height: clamp(400px, 60%, 600px);
  /* padding: 30 100px 30; */
  /* flex-wrap: wrap-reverse; */
  margin: 100px auto;
  box-sizing: border-box;
  justify-content: space-between;
  align-content: center;
}

.sect2 .discription {
  width: 50%;
  height: 340px;
  align-self: center;
  /* flex-wrap: wrap-reverse; */
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
  align-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.4em;
  background-color: antiquewhite;
  border-radius: 10% 0 0 10%;
}

.sect2 .discription h2 {
  width: fit-content;
  padding-left: 10px;
}

.sect2 .discription p {
  text-align: justify;
  padding: 0 10px;
}

.sect2 .discription button {
  margin-top: 30px;
  justify-self: center;
}

.sect2 .img-container {
  width: 50%;
  
  border-radius: 20px;
  justify-self: end;
}

.sect2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px 10% 10% 0;
}

footer {
  background-color: #151e4e;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .footer-column {
  margin: 20px 0;
}

footer .footer-column h4 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #f0a500;
}

footer .footer-column p,
footer .footer-column ul,
footer .footer-column a {
  font-size: 14px;
  color: #ccc;
  text-decoration: none;
}

footer .footer-column ul {
  list-style: none;
  padding: 0;
}

footer .footer-column ul li {
  margin-bottom: 8px;
}

footer .social-links a {
  display: inline-block;
  margin: 0 10px;
  color: #f0a500;
}

footer .social-links a:hover {
  color: #fff;
}

@media (min-width: 768px) {
  footer .container {
      flex-direction: row;
      justify-content: space-around;
  }

  footer .footer-column {
      margin: 0;
  }
}
.contact{
  width: 400px;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5%;
}
.icon{
  font-size: 200%;
}
.item{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 3px solid black;
  overflow: hidden;
}
.item .icon {
  transition: transform 0.5s ease;
}
.item:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}
.item:hover{
  border: 3px solid var(--bg-color);
}
.item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  background: var(--bg-color);
  transition: height 0.5s ease;
}
.item:hover::before {
  height: 100%;
}
.item:nth-child(1){
  --bg-color: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
}
.item:nth-child(2){
  --bg-color: #0077b5;
}
.item:nth-child(3){
  --bg-color: #ff0000;
}
.item:nth-child(4){
  --bg-color: #000;
}
